.Section_children_hd {
  margin-top: 50px;
  text-align: left;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #ececec;
}

.content-table {
  border-collapse: collapse;
  margin: 2px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.content-table thead tr {
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  -webkit-line-clamp: 1;
}

.content-table tbody tr {
  background: #ffff;
  border-bottom: 2px solid #ececec;
}

.mobile {
  display: none;
}

@media (max-width: 990px) {
  .content-table tbody td {
    text-align: right;
    margin-top: -43px;
  }

  .content-table tbody th {
    display: block;
    color: #919496;
  }

  .mobile {
    display: block;
  }

  .group {
    margin-bottom: 5px;
  }

  .Section_children_hd.desktop {
    display: none !important;
  }
}
