.header {
  position: relative;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.header .container img {
  position: relative;
  width: auto;
  height: 60px;
}

.header .container span {
  position: relative;
  width: auto;
  float: right;
  font-weight: bold;
  font-size: 18px;
  margin-top: 18px;
  color: #111;
}

a {
  cursor: pointer;
}

@media (max-width: 990px) {
  .burger-menu {
    position: absolute;
    right: 12px;
    transform: translateY(-3%);
    background: transparent;
    border: none;
    font-size: 40px;
  }

  .log-in-link {
    display: none;
  }
}
