.main {
  height: fit-content;
  background: #0e1730;
  min-height: calc(100vh - 85px);
}

ul {
  padding-left: 0 !important;
}

.main .container .content {
  width: 75%;
  height: 100%;
  padding: 5%;
  background: #fff;
  float: left;
  min-height: 100vh;
}
